.home-container {
  padding: 30px;
  min-height: 85vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.home-heading {
  font-family: 'Roboto';
  font-size: 40px;
  color: #1e293b;
  margin-left: 30px;
  margin-top: 5px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.success-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.course-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-image {
  width: 30%;
}

.failure-heading {
  font-family: 'Roboto';
  font-size: 45px;
  color: #475569;
}

.failure-paragraph {
  font-family: 'Roboto';
  font-size: 20px;
  color: #475569;
}

.retry-button {
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #4656a1;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  padding: 10px;
}
